@media (max-width: 1200px) {
    .order__text, .order__text__blue {
        font-size: 45px;
    }
    .logo1 img {
        width: 90px;
        height: 40px;
    }
    
}

@media (max-width: 992px) {
    .welcome__content {
        flex-direction: column;
        align-items: center;
    }
 .last {
        text-align: center;
    }
    .welcome__slogan2, .welcome__slogan3 {
        display: block;
    }
    .welcome__slogan3 {
        flex-direction: row;
    }
    .order .container {
        flex-direction: column;
        align-items: center;
    }
    .right-side {
        margin-top: 40px;
    }
    .last .container {
        flex-direction: column;
        align-items: center;
    }
    .last__img {
        margin-left: 270px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        align-items: center;
    }
    .logo2 img {
        margin-top: 10px;
    }
    .city {
        padding-top: 25px;
    }
    .order__text, .order__text__blue {
        font-size: 35px;
    }
}

@media (max-width: 576px) {
    .welcome__slogan2, .welcome__slogan3 {
        font-size: 48px;
    }
    .text1_one_terabyte {
        font-size: 40px;
    }
    .btn, .btn1 {
        padding: 10px 20px;
        font-size: 22px;
    }
    .last__img {
        margin-left: 270px;
    }
    .footer-top, .footer-bottom {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 357px) {
    .city {
        padding-top: 25px;
    }
    .logo1 img {
        height: 40px;
        width: 70px;
    }
    .logo2 img {
        height: 30px;
        width: 30px;
    }
   
}