/* Подключение шрифта через @import */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url(https://db.onlinewebfonts.com/c/9551514c6daf77d2f3ec8c9edaa0997c?family=StandardCTStencil-Bold);
/* Подключаю шрифт локально */
@font-face {
    font-family: "Roboto", sans-serif;
    src: url('/fonts/roboto-regular.woff') format('WOFF');
}
@font-face {
    font-family: "Tele2 TextSans";
    src: url('/fonts/Tele2\ TextSans\ Web\ SHORT\ Regular.woff') format('WOFF');
}
@font-face {
    font-family: "Helios Cond";
    src: url('/fonts/HeliosCond-Bold.woff') format('WOFF');
}
@font-face {
    font-family: "StandardCTStencil-Bold";
    src: url('/fonts/standardctstencil-bold.woff') format('WOFF');
}
/* Переменные для цветов */
:root {
    --primary-color: #1F2229;
    --secondary-color: #FFFFFF;;
    --supporting-color: #00ffff;
  }
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
header {
    background-color: var(--primary-color);
}
.city {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: "Helios Cond";
    text-decoration-line: none;
    border: none;
}
.welcome__slogan1,
.welcome__slogan4 {
    color: var(--secondary-color);
    font-family: "Tele2 TextSans";
}
.welcome__slogan2 {
    color: var(--secondary-color); 
    font-family: "StandardCTStencil-Bold";
}
.welcome__slogan3,
.order__text__blue {
    color: var( --supporting-color);
    font-family: "StandardCTStencil-Bold";
}

.btn, .btn1 {
    background-color: var(--secondary-color);
    color: black;
    font-family: "Poetsen One", sans-serif;
    font-size: 18px;
}
.text1,
.consent-text {
    font-family: "Playfair Display", serif;
}
.text1_one_terabyte,
.text1_present,
.order__text,
.consent-text-line {
    color: var(--secondary-color);
    font-family: "Playfair Display", serif;
}
.phone-input {
    color: var(--secondary-color);
}

.order__text__gray {
    color: gray;
}
.confirmButton:hover,
.changeCityButton:hover {
    border: 3px solid #000;
}
.image_with_text { 
    font-family: "Roboto", sans-serif;
  }
.modal p {
    color: black; 
    font-family: "Tele2 TextSans";
}
